.header {
    background: linear-gradient(110deg, #3B0E74 27.19%, #F36600 100.2%);
    z-index: 20;
    display: flex;
    overflow: hidden;
    min-height: 630px;
    height: auto;
    &.header--active {
        z-index: 21;
    }
    @media (min-width:992px) {
        height: unset;
        min-height: 720px;
    }

    @media (min-width: 1240px) {
        padding-top: 26px;
        z-index: 11;
    }
    .container {
        display: flex;
        flex-direction: column;
        height: auto;
        position: relative;
        z-index: 10;
    }
    nav {
        order: 1;
        @media (min-width: 1240px) {
            grid-area: menu;
            align-self: center;           
        }
        & > ul {
            display: flex;
            column-gap: 33px;
            list-style: none;
            margin: unset;
            padding: unset;
            flex-direction: column;
            row-gap: 33px;
            @media (min-width: 1240px) {
                flex-direction: row;
            }
            & > li {
                color: #000;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                letter-spacing: -0.18px;
                @media (min-width: 1240px) {
                    color: #FFF;
                    font-size: 18px;
                }
                &.dropdown {
                    position: relative;
                    cursor: pointer;
                    &:hover {
                        & > a {
                            padding-bottom: 10px;
                        }
                        
                        ul {
                            display: flex;
                        }
                    }
                    ul {
                        list-style: disc;
                        flex-direction: column;
                        background: #FFF;
                        margin-top: 15px;
                        @media (min-width: 1240px) {
                            margin-top: unset;
                            box-shadow: 0px 20px 50px 0px rgba(29, 11, 11, 0.15);
                            top: 25px;
                            left: -20px;
                            position: absolute;
                            display: none;
                            min-width: 258px;
                            padding: 18px 30px 18px 40px;
                            border-radius: 20px;
                        }
                        li {
                            color: var(--orange-color);
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 240%;
                            a {
                                color: #38383F;
                                transition: .4s;
                                &:hover {
                                    color: var(--orange-color);
                                }
                            }
                        }
                    }
                }
                & > a {
                    color: inherit;
                    transition: .4s;
                    &:hover {
                        color: var(--orange-color);
                    }
                }
            }
        }
    }
    .social {
        order: 3;
        display: flex;
        column-gap: 15px;
        flex-wrap: nowrap;
        max-width: 231px;
        width: 100%;
        justify-content: space-between;
        margin-top: 20px;
        @media (min-width: 1240px) {
            grid-area: social;
            margin-top: unset;
            align-self: center;           
        }
        a {
            width: 26px;
            height: 26px;
            display: flex;
            transition: .4s;
            svg {
                width: 100%;
                height: 100%;
                .social__link-circle {
                    fill: #D5D9DC;
                    @media (min-width: 1240px) {
                        fill: white;
                    }
                }
                .social__link-icon {
                    fill: #fff;
                    @media (min-width: 1240px) {
                        fill: #321B20;
                    }
                }
            }
            img {
                object-fit: contain;
            }
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
.phone__mobil {
    width: 33px;
    display: flex;
    height: 33px;
    background: var(--orange-color);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: auto;

}
.header__top {
    border-top: 1px solid #EBEDF3;
    padding-top: 110px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    background: white;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    // transition: transform .4s;
    & + .header__top-mobil {
        position: relative;
        // transition: background .4s;
        // transition-delay: .1s;
        
        &::after {
            content: '';
            position: absolute;
            transform: translateX(-100%);
            // transition: transform .4s;
            z-index: -1;
            background: white;
            left: -15px;
            top: 0;
            width: 100vw;
            height: 100%;
            border-bottom: 1px solid #EBEDF3;
        }
    }
    &.menu--active {
        @media (max-width: 1239px) {
            transform: translateX(0);
            overflow: auto;
            & + .header__top-mobil {
                &::after {
                    transform: translateX(0);
                }
            }
        }
    }
    .header__copyright {
        color: #38383F;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        order: 5;
        line-height: 140%;
        margin: unset;
        margin-top: 26px;
        margin-bottom: 42px;
        @media (min-width: 1240px) {
            display: none;
        }
    }
    .phone__container {
        margin-top: 72px;
        order: 2;
        
        .phone {
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: -0.4px;
            transition: .4s;
            @media (min-width: 1240px) {
                color: #FFF;
            }
            &:hover {
              color: var(--orange-color);
            }
        }
        @media (min-width: 1240px) {
            margin-top: unset;
            align-self: center;
            grid-area: phone;
            display: flex;
            justify-content: flex-end;
        }
    }
    .logo {
        display: none;
        @media (min-width: 1240px) {
            display: flex;
        }
    }
    @media (min-width: 1240px) {
        transform: unset;
        border: unset;
        padding-top: unset;
        margin-top: unset;
        position: unset;
        background: unset;
        padding-left: unset;
        padding-right: unset;
        display: grid;
        grid-template-areas: "logo menu btn social phone";
        grid-template-columns: auto auto auto auto auto;
        column-gap: 20px;      
    }
    & > button {
        order: 4;
        @media (max-width: 1239px) {
            max-width: 320px;
            width: 100%;
            color: #fff;
            background: black;
            margin-top: 25px;
        }
        @media (min-width: 1240px) {
            grid-area: btn;
            align-self: center;          
        }
    }
}
.header__top-mobil {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    z-index: 1;
    padding-top: 23px;
    padding-bottom: 11px;

    transition: none;
    transition-delay: 0s;
    .logo {
        max-width: 142px;
        height: 42px;
        .logo__word {
            // transition-duration: .4s;
            // transition-delay: .3s;
        }
        &.logo--active {
            .logo__word {
                fill: #000;
            }

        }
    }
    @media (min-width: 1240px) {
        display: none;
    }
}
.welcome {
    max-width: 684px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin: 0 auto;
    @media (min-width: 992px) {
        margin: unset;
        padding-bottom: unset;
        justify-content: center;
    }
    &::after, &::before {
        content: '';
        position: absolute;
        bottom: 0;
    }
    &::after {
        width: 225px;
        height: 175px;
        left: calc(50% - 60px);
        top: 70px;
        background: url(../img/welcome1.png) no-repeat;
        background-size: contain;
        z-index: -2;
        @media (min-width: 992px) {
            top: unset;
            width: 667px;
            height: 520px;
            left: calc(100% - 620px);
        }
    }
    &::before {
        width: 180px;
        height: 140px;
        background: url(../img/welcome2.png) no-repeat;
        background-size: contain;
        left: calc(50vw - 148px);
        background-position-y: bottom;
        z-index: -1;
        top: 150px;
        @media (min-width: 992px) {
            top: unset;
            width: 530px;
            height: 413px;
            bottom: -150px;
            left: calc(100% - 840px);
        }
    }
    h1 {
        margin: unset;
        color: #FFF;
        font-family: Inter;
        text-align: center;
        font-size: 35px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: -1.4px;
        margin-bottom: 18px;
        @media (min-width: 992px) {
            text-align: unset;
            font-size: 70px;
            margin-bottom: 24px;
        }
    }
    p:not([class]) {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        margin: unset;
        text-align: center;
        @media (min-width: 992px) {
            text-align: unset;
            font-size: 24px;
        }
    }
    p.welcome__bilding {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        column-gap: 7px;
        margin-top: 23px;
        @media (min-width: 992px) {
            justify-content: unset;
            margin-top: 95px;
            column-gap: 17px;
        }
        span {
            max-width: 210px;
            color: #FFF;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            @media (min-width: 992px) {
                font-size: 16px;
                max-width: 165px;
            }
        }
        img {
            width: 33px;
            height: 33px;
            @media (min-width: 992px) {
                width: 50px;
                height: 50px;     
            }
        }
    }
    .welcome__btns {
        margin-top: 30px;
        display: flex;
        gap: 10px;
        flex-direction: column-reverse;
        @media (min-width: 992px) {
            flex-direction: row;
            margin-top: 54px;
            gap: 14px;
        }
        button.btn, a.btn {
            @media (max-width: 991px) {
                width: 100%;
            }
        }
    }
}
.header.header--active + .main {
    // z-index: 1;
}
.alert {
    background: var(--alert-color);
    p {
        text-align: center;
        display: flex;
        align-items: center;
        width: fit-content;
        padding: 15px 0;
        margin: 0 auto;
        color: #36195A;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;

        img {
            margin-right: 19px;
            height: 30px;
            width: auto;
        }

        a {
            margin-left: 13px;
            color: inherit;
            font-weight: 600;
            border-bottom: 1px solid #CFD094;
            transition: .4s;
            &:hover {
                border-color: black;
            }
        }
    }
}

a.target-burger {
    margin-left: 20px;
    width: 42px;
    height: 42px;
    display: block;
    transition: .5s;
    &:hover{
        cursor: pointer;
        opacity: .45;
    }
    &.burger--active{
        ul.buns{
            li.bun:not(:last-child) {
                width: 100%;
            }
            li.bun{
                background-color: #000;
                -webkit-transform: rotate(45deg) translateZ(0);
                transform: rotate(45deg) translateZ(0);
                &:last-child{
                    -webkit-transform: rotate(-45deg) translateZ(0);
                    transform: rotate(-45deg) translateZ(0);
                }
            }
        }
    }
    ul.buns{
        width: 100%;
        height: 100%;
        list-style: none;
        
        // margin: -1.625em/2 0 0 -1.625em/2;
        margin: unset;
        padding: 0;
        -webkit-transition: -webkit-transform 1s cubic-bezier(.23,1,.32,1),color 1s cubic-bezier(.23,1,.32,1);
        transition: transform 1s cubic-bezier(.23,1,.32,1),color 1s cubic-bezier(.23,1,.32,1);
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        color: #fff;
        li.bun{
            width: 100%;
            height: 2px;
            background-color: #fff;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-3.75px) translateZ(0);
            transform: translateY(-3.75px) translateZ(0);
            -webkit-transition: -webkit-transform 1s cubic-bezier(.23,1,.32,1),background-color 1s cubic-bezier(.23,1,.32,1), width 1s cubic-bezier(.23,1,.32,1);
            transition: transform 1s cubic-bezier(.23,1,.32,1),background-color 1s cubic-bezier(.23,1,.32,1), width 1s cubic-bezier(.23,1,.32,1);
            &:not(:last-child) {
                width: 25px;
            }
            &:last-child{
                bottom: 0;
                -webkit-transform: translateY(3.75px) translateZ(0);
                transform: translateY(3.75px) translateZ(0);
            }
        }
    }
}