.takepart {
    margin: auto;
    &._about {
        background: #FFF;
        margin-top: -30px;
        position: relative;
        @media (min-width: 1240px) {
            &::after {
                content: "";
                width: 412px;
                height: 330px;
                -o-object-fit: contain;
                object-fit: contain;
                right: 6vw;
                top: -263px;
                position: absolute;
                background: url(/img/illustration.svg) no-repeat;
                
            }     
        }
    }
    &:not(._about) {
        margin-top: -50px;
    }
    position: relative;
    z-index: 2;
    padding-top: 30px;
    padding-bottom: 40px;
    border-radius: 30px;
    background: #F3F5F6;
    max-width: 1652px;
    width: 100%;
    &._about {
        // margin-top: -300px;
        @media (min-width: 992px) {
            margin-top: -300px;
        }
    }
    .title {
        text-align: center;
        @media (min-width: 992px) {
            text-align: unset;
        }
    }
    @media (min-width:992px) {
        padding-bottom: 65px;
    }
}
.takepart__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    list-style: none;
    margin-top: 20px;
    padding: unset;
    @media (min-width: 992px) {
        margin-top: 30px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    & > li {
        border-radius: 20px;
        background: #FFF;
        padding: 20px;
        background: #FFF var(--bg-1, none)  no-repeat bottom right;
        background-position: calc(100% - 5px) 10px;
        background-size: auto 100%;
        @media (min-width: 425px) {
            background-position: calc(100% - 48px) 10px;
            padding-left: 58px;
        }
        @media (min-width: 992px) {
            background-position: calc(100% - 5px) 10px;
            padding: 20px;
        }
        @media (min-width: 1240px) {
            padding-left: 58px;
            padding-top: 48px;
            padding-bottom: 55px;
            background-position: calc(100% - 48px) 100%;
            background-size: unset;
        }
        h3 {
            color: #000;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: -0.6px;
            max-width: 189px;
            margin: unset;
            @media (min-width: 992px) {
                font-size: 30px;
            }
        }
        ul, ol {
            max-width: 189px;
            padding-left: 25px;
            list-style: disc;
            margin-top: 24px;
            li {
                color: #38383F;
                font-family: Manrope;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                @media (min-width: 992px) {
                    font-size: 16px;
                }
            }
        }
    }
}

.takepart__content {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    flex-direction: column-reverse;
    @media (min-width: 992px) {
        flex-direction: column;
        &:not(._column) {
            flex-direction: row;
        }
        margin-top: 50px;
    }
    & > ul {
        padding: unset;
        list-style: none;
        display: flex;
        align-items: center;
        column-gap: 10px;
        @media (min-width: 992px) {
            column-gap: 17px;
        }
        li {
            height: 44px;
            width: auto;
            display: flex;
            @media (min-width: 992px) {
                height: 74px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                margin: auto;
            }
        }
    }
    &._column {
        margin-top: 10px;
    }
    &:not(._column) > div {
        flex-basis: 60%;
        max-width: 821px;
    }
    & > div {

        p {
            margin: unset;
            color: #000;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; 
            @media (min-width: 992px) {
                font-size: 24px;
            }
            span {
                margin-top: 10px;
                color: #38383F;
                font-family: Manrope;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                display: block;
                @media (min-width: 992px) {
                    font-size: 17px;
                    margin-top: 24px;
                }
            }
        }
    }
}

.takepart-shedule {
    padding-bottom: 30px;
    & > ul {
        list-style: none;
        margin: unset;
        padding: unset;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }
    & > ul > li > p {
        margin: unset;
        color: #000;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; 
        letter-spacing: -0.6px;
        @media (min-width: 576px) {
            font-size: 30px;
        }
        & > i {
            margin-left: 9px;
            margin-bottom: 12px;
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #4FC53F;

            & + strong {
                color: #4FC53F;
                margin-left: 9px;
                @media (min-width: 576px) {
                    margin-left: 22px;
                }
            }
        }
        strong {
            margin-left: 10px;
            color: #36195A;
            font-family: Manrope;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 80%;
            letter-spacing: -0.24px;
            @media (min-width: 576px) {
                margin-left: 18px;
                font-size: 24px;
            }
        }
    }
    & > ul > li > button {
        display: flex;
        width: 100%;
        color:  #898B90;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px; 
        letter-spacing: -0.28px;
        border-radius: 10px;
        border: 1px solid #C7D0D4;
        height: 30px;
        align-items: center;
        justify-content: center;
        background: transparent;
        margin-top: 20px;
        @media (min-width: 576px) {
            display: none;
        }
    }
    & > ul > li > ul {
        margin: unset;
        list-style: none;
        padding: unset;
        margin-top: 20px;
        display: grid;
        column-gap: 10px;
        row-gap: 5px;
        grid-template-columns: 1fr;
        @media (min-width: 576px) {
            margin-top: 30px;
            row-gap: 30px;
        }
        @media (min-width: 576px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (min-width: 1240px) {
            grid-template-columns: repeat(4, 1fr);
        }
        
        & > li > a {
            border-radius: 10px;
            background: #FFF;
            padding: 13px 16px;
            position: relative;
            display: flex;
            flex-direction: column;
            padding-right: 57px;
            min-height: 100px;
            height: auto;
            transition: .4s;
            @media (min-width: 576px) {
                justify-content: space-between;
                min-height: 195px;
                padding: 24px;
            }
            &:hover {
                background: var(--fiolet-color);
                & > .label {
                    &._gray {
                        color: #fff;
                        border: 1px solid #fff;
                    } 
                }
                & > p:not(:last-child):not([class]) {
                    color: white;
                    span {
                        color: white;
                    }
                }
                & > p:last-child {
                    strong {
                        color: white;
                    }
                    span {
                        color: white;
                        background: var(--orange-color);
                        border-color: var(--orange-color);
                    }
                }
            }
            & > .label {
                margin: unset;
                padding: 2px 5px;
                border-radius: 5px;
                display: flex;
                top: 10px;
                right: 22px;
                width: fit-content;
                position: absolute;
                
                font-family: Manrope;
                font-size: 11px;
                font-style: normal;
                font-weight: 700;
                line-height: 110%; 
                @media (min-width: 576px) {
                    font-size: 12px;
                    top: 13px;
                }
                &._orange {
                    background: #F36600;
                    color: #FFF;
                }
                &._gray {
                    color: #898B90;
                    border: 1px solid #898B90;
                } 
            }
            & > p:not(:last-child):not([class]) {
                margin: unset;
                color: var(--fiolet-color);
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 110%; 
                @media (min-width: 992px) {
                    font-size: 20px;
                }
                span {
                    margin-top: 4px;
                    display: block;
                    color: var(--gray-color);
                    font-family: Manrope;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 110%;
                    @media (min-width: 992px) {
                        font-size: 16px;
                        margin-top: 8px;
                    }
                }
            }
            & > p:last-child {
                margin: unset;
                
                display: flex;
                align-items: center;
                justify-content: space-between;
                @media (min-width: 992px) {
                    padding-top: 18px;
                    border-top: 1px solid #D9D9D9;
                }
                strong {
                    color: #36195A;
                    font-family: Manrope;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 110%;
                    @media (min-width: 576px) {
                        font-size: 20px;
                    }
                }
                span {
                    display: none;
                }
                @media (min-width: 576px) {
                    span {
                        min-width: 129px;
                        height: 30px;
                        color: #000;
                        font-family: Manrope;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 16px;
                        letter-spacing: -0.3px;
                        border-radius: 10px;
                        border: 1px solid #C7D0D4;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: fit-content;
                        transition: .4s;
                        &:hover {
                            background: #FFF;
                            color: var(--orange-color);
                            border-color: white;
                        }
                    }
                }
                
            }
        }
    }
}

.takepart__about-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    list-style: none;
    padding: 20px 0;
    @media (min-width: 992px) {
        row-gap: 20px;
    }
    li {
        border-radius: 50px;
        display: flex;
        flex-wrap: nowrap;
        padding: 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: #36195A;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        @media (min-width: 992px) {
            padding: 20px;
            font-size: 18px;
        }
        &:not(._active) {
            background: #F4F1F6;
        }
        svg {
            width: 12px;
            height: auto;
            fill: #36195A;
            @media (min-width: 992px) {
                width: 17px;
            }
        }
        &._active {
            background: #F8EFE9;
            color: #F36600;
            svg {
                width: 17px;
                height: auto;
                fill: #F36600;
            }
        }
    }
}

.takepart__about-advantages {
    
    display: flex;
    flex-direction: column;
    padding-bottom: unset;
    padding-top: 30px;

    @media (min-width: 768px) {
        display: grid;
        padding-bottom: 40px;
        padding-top: 50px;
        grid-template-columns: 238px 1fr;
        grid-template-areas: 'title title' 'sidebar list'; 
        column-gap: 80px;
    }
    p:first-child {
        margin: unset;
        margin-bottom: 11px;
        grid-area: title;
        color: #000;
        font-family: Inter;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; 
        letter-spacing: -0.8px;
        @media (min-width: 992px) {
            font-size: 40px;
        }
    }
    p:last-of-type {
        grid-area: sidebar;
        margin: unset;
        strong {
            color: #F36600;
            font-family: Inter;
            font-size: 50px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; 
            letter-spacing: -1.6px;
            @media (min-width: 992px) {
                font-size: 80px;
            }
        }
        span {
            color: #38383F;
            font-family: Manrope;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            margin-bottom: 7px;
            display: block;
            @media (min-width: 992px) {
                font-size: 17px;
                margin-bottom: 25px;
            }
        }
        i {
            color: #38383F;
            font-family: Manrope;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;
            @media (min-width: 992px) {
                font-size: 17px;
            }
        }
    }

    ul {
        padding: unset;
        padding-top: 12px;
        grid-area: list;

        padding-left: 15px;
        margin: unset;
        
        @media (min-width: 768px) {
            padding: unset;
            column-count: 2;
            column-gap: 100px;
        }
        @media (min-width: 992px) {
            column-count: 3;
        }
        @media (max-width: 769px) {
            &:not(._open) {
                li:nth-child(n+9) {
                    display: none;
                }
            }

        }
        li {
            color: #38383F;
            font-family: Manrope;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;

            @media (min-width: 992px) {
                font-size: 15px;
            }
        }
    }
    button {
        margin-top: 20px;
        color: #898B90;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px; 
        letter-spacing: -0.28px;
        border-radius: 10px;
        border: 1px solid #C7D0D4;
        display: flex;
        width: 165px;
        height: 30px;
        padding: 2px 0px 3px 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (min-width: 768px) {
            display: none;
        }
    }
}