<div class="about">
    <div class="container">
        <div class="about__container">
            <div class="about__left">
                <h2>ПрофБилд — компания с большим опытом</h2>
                <div class="about__text">
                    <p><strong>ПРОФБИЛД – это производственная компания, реализующая проекты с нестандартными архитектурными решениями  из металлоконструкций.</strong></p>
                    <p>Наши инженеры разрабатывают индивидуальные проекты, которые максимально полно закрывают поставленные задачи, согласно требованиям заказчика.</p>
                    <p>Мы работаем с любыми нестандартными архитектурными решениями из металлоконструкций, используя качественный металлопрокат, обрабатываемый на современном оборудовании собственной технологической базы, и выполняя все этапы производства «под ключ» с гарантией качества.</p>
                </div>
                <ul class="about__sum">
                    <li><p><strong>157 970м<sup>2</sup></strong>
                        <span class="font15o">построено объектов общей площалью</span></p></li>
                    <li><p><strong>2780</strong><span class="font15o">клиентов по всей Россиии странах СНГ</span></p></li>
                </ul>
            </div>
            <div class="about__right" style="transform: translateY(0)">
                <div class="swiper swiper-about-js">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <figure>
                                <img src="/img/slide1.jpg" alt="Фотография">
                                <figcaption class="font14o">Наши инженеры разрабатывают
                                    индивидуальные проекты</figcaption>
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure>
                                <img src="/img/slide1.jpg" alt="Фотография">
                                <figcaption class="font14o">Рисунок №4</figcaption>
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure>
                                <img src="/img/slide1.jpg" alt="Фотография">
                                <figcaption class="font14o">Рисунок №1</figcaption>
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure>
                                <img src="/img/slide1.jpg" alt="Фотография">
                                <figcaption class="font14o">Рисунок №2</figcaption>
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure>
                                <img src="/img/slide1.jpg" alt="Фотография">
                                <figcaption class="font14o">Рисунок №3</figcaption>
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure>
                                <img src="/img/slide1.jpg" alt="Фотография">
                                <figcaption class="font14o">Рисунок №5</figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>