<div class="calc">
    <div class="container">
        <h3 class="h3">Заказать расчет 
            <img src="/img/rub.svg" alt="Иконка">
            стоимости 
            строительства</h3>
        <div class="calc__form">
            <p>Бесплатно приедем к вам на объект, сделаем точный замер и предложим лучшие варианты постройки</p>
            <form>
                <div class="form__placeholder-container form__placeholder-container--js">
                    <input class="form__input--js" type="text" name="name" placeholder=" " required="required" id="name"/>
                    <label for="name">Ваше имя</label><span class="input__error name-error"></span>
                </div>
                <div class="form__placeholder-container form__placeholder-container--js">
                    <input class="form__input--js phone-mask--js" type="text" name="phone" placeholder=" " required="required" id="phone"/>
                    <label for="phone">Номер телефона</label><span class="input__error name-error"></span>
                </div>
                <input type="submit" class="big-button" value="Рассчитать стоимость">
            </form>
        </div>
        <div class="calc__bottom">
            Отправляя запрос Вы соглашаетесь на обработку персональных данных
        </div>
    </div>
</div>