<div class="catalog">
    <div class="container">
        <h3 class="h3">Каталог услуг</h3>
        <div class="catalog__container">
            <div class="catalog__item _square">
                <img src="/img/catalog1.jpg" alt="Услуга">
                <p>
                    <strong>Склады и ангары</strong>
                    <span>от 2500р/м<sup>2</sup></span>
                </p>
                <div class="buttons">
                    <p>мы рассчитаем
                        в самое ближайшее время</p>
                    <button class="big-button">Заказать расчет</button>
                </div>
            </div>
            <div class="catalog__item _square">
                <img src="/img/catalog2.jpg" alt="Услуга">
                <p>
                    <strong>Производственные 
                        и промышленные здания</strong>
                    <span>от 5800р/м<sup>2</sup></span>
                </p>
                <div class="buttons">
                    <p>мы рассчитаем
                        в самое ближайшее время</p>
                    <button class="big-button">Заказать расчет</button>
                </div>
            </div>
            <div class="catalog__item _square">
                <img src="/img/catalog3.jpg" alt="Услуга">
                <p>
                    <strong>Магазины и торговые 
                        здания</strong>
                    <span>от 3600р/м<sup>2</sup></span>
                </p>
                <div class="buttons">
                    <p>мы рассчитаем
                        в самое ближайшее время</p>
                    <button class="big-button">Заказать расчет</button>
                </div>
            </div>
            <div class="catalog__item">
                <img src="/img/catalog4.jpg" alt="Услуга">
                <p>
                    <strong>Сельскохозяйственные
                        здания</strong>
                    <span>от 3600р/м<sup>2</sup></span>
                </p>
                <div class="buttons">
                    <p>мы рассчитаем
                        в самое ближайшее время</p>
                    <button class="big-button">Заказать расчет</button>
                </div>
            </div>
            <div class="catalog__item">
                <img src="/img/catalog5.jpg" alt="Услуга">
                <p>
                    <strong>Быстровозводимые 
                        спортивные сооружения</strong>
                    <span>от 3600р/м<sup>2</sup></span>
                </p>
                <div class="buttons">
                    <p>мы рассчитаем
                        в самое ближайшее время</p>
                    <button class="big-button">Заказать расчет</button>
                </div>
            </div>
            <div class="catalog__attention">
                <p>
                    <strong>Не нашли нужное?</strong>
                    <span>или нет времени разбираться мы поможем</span></p>
                <div class="buttons">
                    <p>заполните форму мы проконсультируем
                        вас в ближайшее время</p>
                    <button class="small-button">Заказать расчет</button>
                </div>
            </div>
            <div class="catalog__item _square">
                <img src="/img/catalog6.jpg" alt="Услуга">
                <p>
                    <strong>Офисные помещения</strong>
                    <span>от 4700р/м<sup>2</sup></span>
                </p>
                <div class="buttons">
                    <p>мы рассчитаем
                        в самое ближайшее время</p>
                    <button class="big-button">Заказать расчет</button>
                </div>
            </div>
            <div class="catalog__item _square">
                <img src="/img/catalog7.jpg" alt="Услуга">
                <p>
                    <strong>АЗС и гаражи</strong>
                    <span>от 5800р/м<sup>2</sup></span>
                </p>
                <div class="buttons">
                    <p>мы рассчитаем
                        в самое ближайшее время</p>
                    <button class="big-button">Заказать расчет</button>
                </div>
            </div>
            <div class="catalog__item _square">
                <img src="/img/catalog8.jpg" alt="Услуга">
                <p>
                    <strong>Автомойки
                        и автосервисы</strong>
                    <span>от 3600р/м<sup>2</sup></span>
                </p>
                <div class="buttons">
                    <p>мы рассчитаем
                        в самое ближайшее время</p>
                    <button class="big-button">Заказать расчет</button>
                </div>
            </div>
        </div>
    </div>
</div>