<header class="header">
  <div class="container">
    <div class="header__top">
      <a href="/" class="logo"><img loading="lazy" src="img/svg/logo.svg" alt="Logo"></a>
      <nav>
        <ul>
          <li><a href="#">Расписание</a></li>
          <li class="dropdown"><a href="#">О нас</a>
            <ul class="dropdown-menu">
              <li><a href="#">Почему мы?</a></li>
              <li><a href="#">Портфолио</a></li>
              <li><a href="#">Полезные статьи</a></li>
            </ul>
          </li>
          <li><a href="#">Форум</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </nav>
      <button class="btn">Записаться</button>
      <div class="social">
        <a href="#"><img loading="lazy" src="img/svg/vk.svg" alt="vk"></a>
        <a href="#"><img loading="lazy" src="img/svg/tg.svg" alt="telegram"></a>
        <a href="#"><img loading="lazy" src="img/svg/wa.svg" alt="whatsapp"></a>
        <a href="#"><img loading="lazy" src="img/svg/vi.svg" alt="viber"></a>
        <a href="#"><img loading="lazy" src="img/svg/go.svg" alt="mail"></a>
      </div>
      <a href="tel:84956652223" class="phone">8 (495) 665-22-23</a>
    </div>
    <div class="welcome">
      <h1>Ваш пропуск<br>в мир телевидения</h1>
      <p>Участие в массовках для съемки в телепередачах</p>
      <div class="welcome__btns">
        <a href="#" class="btn _transparent">Смотреть расписание</a>
        <button class="btn _orange">Записаться</button>
      </div>
      <p class="welcome__bilding">
        <img loading="lazy" src="img/svg/bilding.svg" alt="Здание">
        <span>Мы работаем только в Москве</span>
      </p>
    </div>
  </div>
</header>
