<header class="header" data-header>
  <div class="container">
    <div class="header__top" data-menu>
      <div class="header__top-mobil">
        <a href="tel:88002103080" class="phone">8 800 210-30-80</a>
        <button class="small-button">Консультация</button>
      </div>
      <nav data-menu>
        <ul>
          <li><a href="#" class="font16gs">О компании</a></li>
          <li class="dropdown"><a href="#" class="font16gs">Услуги</a>
            <ul class="dropdown-menu">
              <li><a href="#" class="font16gs">Склады и ангары</a></li>
              <li><a href="#" class="font16gs">Производственные и промышленные здания</a></li>
              <li><a href="#" class="font16gs">Магазины и торговые здания</a></li>
              <li><a href="#" class="font16gs">Офисные помещения</a></li>
              <li><a href="#" class="font16gs">Сельскохозяйственные здания</a></li>
              <li><a href="#" class="font16gs">Автомойки и автосервисы</a></li>
              <li class="dropdown-menu__last"><button class="button-without-border" data-id="consultation"><span>Получить консультацию</span></button></li>
            </ul>
          </li>
          <li><a href="#" class="font16gs">Быстровозводимые здания</a></li>
          <li><a href="#" class="font16gs">Металоконструкции</a></li>
          <li><a href="#" class="font16gs">Наши работы</a></li>
          <li><a href="#" class="font16gs">Калькулятор</a></li>
          <li><a href="#" class="font16gs">Контакты</a></li>
        </ul>
      </nav>
    </div>
    <div class="header__bottom">
      <a href="/" class="logo">
        <img src="/img/logo.svg" alt="Logo">
      </a>
      <p>
        <a href="tel:88002103080" class="phone">8 800 210-30-80</a>
        <span class="font12o">звонок по России бесплатный</span>
      </p>
      <p>
        <a href="tel:+78125003080" class="phone">+7 812 500-30-80</a>
        <a href="mailto:infobild@gmail.com" class="font12o">infobild@gmail.com</a>
      </p>
      <div class="header__socials">
        @include('tg.html')
        @include('whatsapp.html')
      </div>
      <div class="header__contact">
        <p class="font15o">Санкт-Петербург, Глиняная улица, 11к1</p>
        <span class="font12o">консультация специалиста бесплатно</span>
        <button class="small-button">Консультация</button>
      </div>
      <button class="burger" data-burger></button>
    </div>
    <div class="header__welcome">
      <p class="font18o">Сократите <strong><img src="/img/clock.svg" alt="Иконка">
        срок строительства на 30%</strong>, получите готовый объект "под ключ" за 3 месяца</p>
      <h1>Изготовление металлоконструкций<br>в<img src="/img/emblema.png" alt="Эмблема">Санкт-Петербурге</h1>
      <div>
        <p>от <strong>2500р/м<sup>2</sup></strong></p>
        <button class="button-without-border"><img src="/img/consultation.svg" alt="Иконка"><span>Получить консультацию</span></button>
        <button class="big-button">Заказать расчет</button>
      </div>
    </div>
  </div>
</header>
