<div class="portfolio">
    <div class="container">
        <h3 class="h3">
            Портфолио завершенных проектов
        </h3>
        <p class="font18o">Мы работаем для предприятий малого и среднего бизнеса, занятых в промышленности, сельском хозяйстве, добыче полезных ископаемых, строительстве, индустрии транспорта, торговле и спорте.</p>
        <div class="portfolio__container">
            <div class="portfolio__slider portfolio__slider-js">
                <div thumbsSlider="" class="swiper portfolio__slider-thumb thumbs-slider-js">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/img/p1.jpg" alt="Слайд">
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/p2.jpg" alt="Слайд">
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/p3.jpg" alt="Слайд">
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/p1.jpg" alt="Слайд">
                        </div>
                    </div>
                </div>
                <div class="swiper-wrapper portfolio-js portfolio__slider-container" >
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/img/p-big1.jpg" alt="Слайд">
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/p2.jpg" alt="Слайд">
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/p3.jpg" alt="Слайд">
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/p1.jpg" alt="Слайд">
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio__info-container">
                <div class="portfolio__info" style="display: block;" data-slide="0">
                    <p class="city"><img src="/img/rus.svg" alt="Флаг">Санкт Петербург</p>
                    <p class="name">Склад Виктория парк</p>
                    <ul>
                        <li>Объект:  <strong>Ангар в г. Санкт-Петербург</strong></li>
                        <li>Площадь:  <strong>300 м2</strong></li>
                        <li>Ширина*Длина*Высота:  <strong>71,0х21,0х7,0</strong></li>
                        <li>Цвет:  <strong>RAL 9005/9010</strong></li>
                    </ul>
                    <div class="label">
                        Срок строительства: <span>75 дней</span>
                        <img src="/img/clock.svg" alt="Иконка">
                    </div>
                    <p class="span">
                        В промышленности, сельском хозяйстве, добыче полезных ископаемых, строительстве, индустрии транспорта, торговле и спорте.
                    </p>
                    <div class="buttons">
                        <button class="big-button">Узнать подробнее</button>
                        <button class="button-without-border">
                            <img src="/img/play.svg" alt="Иконка">
                            <span>Видео объекта</span>
                        </button>
                    </div>
                </div>
                <div class="portfolio__info" data-slide="1">
                    <p class="city"><img src="/img/rus.svg" alt="Флаг">Санкт Петербург</p>
                    <p class="name">Склад Виктория парк1</p>
                    <ul>
                        <li>Объект:  <strong>Ангар в г. Санкт-Петербург</strong></li>
                        <li>Площадь:  <strong>300 м2</strong></li>
                        <li>Ширина*Длина*Высота:  <strong>71,0х21,0х7,0</strong></li>
                        <li>Цвет:  <strong>RAL 9005/9010</strong></li>
                    </ul>
                    <div class="label">
                        Срок строительства: <span>75 дней</span>
                        <img src="/img/clock.svg" alt="Иконка">
                    </div>
                    <p class="span">
                        В промышленности, сельском хозяйстве, добыче полезных ископаемых, строительстве, индустрии транспорта, торговле и спорте.
                    </p>
                    <div class="buttons">
                        <button class="big-button">Узнать подробнее</button>
                        <button class="button-without-border">
                            <img src="/img/play.svg" alt="Иконка">
                            <span>Видео объекта</span>
                        </button>
                    </div>
                </div>
                <div class="portfolio__info" data-slide="2">
                    <p class="city"><img src="/img/rus.svg" alt="Флаг">Санкт Петербург</p>
                    <p class="name">Склад Виктория парк2</p>
                    <ul>
                        <li>Объект:  <strong>Ангар в г. Санкт-Петербург</strong></li>
                        <li>Площадь:  <strong>300 м2</strong></li>
                        <li>Ширина*Длина*Высота:  <strong>71,0х21,0х7,0</strong></li>
                        <li>Цвет:  <strong>RAL 9005/9010</strong></li>
                    </ul>
                    <div class="label">
                        Срок строительства: <span>75 дней</span>
                        <img src="/img/clock.svg" alt="Иконка">
                    </div>
                    <p class="span">
                        В промышленности, сельском хозяйстве, добыче полезных ископаемых, строительстве, индустрии транспорта, торговле и спорте.
                    </p>
                    <div class="buttons">
                        <button class="big-button">Узнать подробнее</button>
                        <button class="button-without-border">
                            <img src="/img/play.svg" alt="Иконка">
                            <span>Видео объекта</span>
                        </button>
                    </div>
                </div>
                <div class="portfolio__info" data-slide="3">
                    <p class="city"><img src="/img/rus.svg" alt="Флаг">Санкт Петербург</p>
                    <p class="name">Склад Виктория парк3</p>
                    <ul>
                        <li>Объект:  <strong>Ангар в г. Санкт-Петербург</strong></li>
                        <li>Площадь:  <strong>300 м2</strong></li>
                        <li>Ширина*Длина*Высота:  <strong>71,0х21,0х7,0</strong></li>
                        <li>Цвет:  <strong>RAL 9005/9010</strong></li>
                    </ul>
                    <div class="label">
                        Срок строительства: <span>75 дней</span>
                        <img src="/img/clock.svg" alt="Иконка">
                    </div>
                    <p class="span">
                        В промышленности, сельском хозяйстве, добыче полезных ископаемых, строительстве, индустрии транспорта, торговле и спорте.
                    </p>
                    <div class="buttons">
                        <button class="big-button">Узнать подробнее</button>
                        <button class="button-without-border">
                            <img src="/img/play.svg" alt="Иконка">
                            <span>Видео объекта</span>
                        </button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>