<div class="price">
    <div class="container">
        <h3 class="h3">
            Цены на металлические конструкции
        </h3>
        <div class="price__tabs tabs" data-tabs="tab">
            <ul class="tabs__nav">
                <li><p>Ширина</p></li>
                <li class="price__nav-item">
                    <button class="btn-reset tabs__nav-btn" type="button">12 м</button>
                </li>
                <li class="price__nav-item">
                    <button class="btn-reset tabs__nav-btn" type="button">15 м</button>
                </li>
                <li class="price__nav-item">
                    <button class="btn-reset tabs__nav-btn" type="button">18 м</button>
                </li>
                <li class="price__nav-item">
                    <button class="btn-reset tabs__nav-btn" type="button">21 м</button>
                </li>
            </ul>
            <div class="tabs__content">
                <div class="tabs__panel">
                    <div class="tabs__panel-content">
                        <div class="price__header">
                            <p>Виды работ</p>
                            <div class="price__header-content">
                                <p>Длина, м / с шагом колон бм (высота в чистоте 5м)</p>
                                <p>30</p>
                                <p>35</p>
                                <p>40</p>
                                <p>45</p>
                                <p>50</p>
                                <p>55</p>
                            </div>
                        </div>
                        <div class="price__column">
                            <p>Несущий каркас</p>
                            <div class="price__column-content">
                                <p>2 190 700</p>
                                <p>2 190 700</p>
                                <p>2 190 700</p>
                                <p>2 190 700</p>
                                <p>2 190 700</p>
                                <p>2 190 700</p>
                            </div>
                        </div>
                        <div class="price__column">
                            <p>Комплект сэндвич-панелей</p>
                            <div class="price__column-content">
                                <p>2 964 400</p>
                                <p>2 964 400</p>
                                <p>2 964 400</p>
                                <p>2 964 400</p>
                                <p>2 964 400</p>
                                <p>2 964 400</p>
                            </div>
                        </div>
                        <div class="price__column">
                            <p>Устройство фундамента и Ж/Б цоколя</p>
                            <div class="price__column-content">
                                <p>1 497 900</p>
                                <p>1 497 900</p>
                                <p>1 497 900</p>
                                <p>1 497 900</p>
                                <p>1 497 900</p>
                                <p>1 497 900</p>
                            </div>
                        </div>
                        <div class="price__column">
                            <p>Устройство железобетонной плиты 120мм</p>
                            <div class="price__column-content">
                                <p>1 104 700</p>
                                <p>1 104 700</p>
                                <p>1 104 700</p>
                                <p>1 104 700</p>
                                <p>1 104 700</p>
                                <p>1 104 700</p>
                            </div>
                        </div>
                        <div class="price__column">
                            <p>Монтаж несущего каркаса здания</p>
                            <div class="price__column-content">
                                <p>408 200</p>
                                <p>408 200</p>
                                <p>408 200</p>
                                <p>408 200</p>
                                <p>408 200</p>
                                <p>408 200</p>
                            </div>
                        </div>
                        <div class="price__column">
                            <p>Монтаж сэндвич-панелей</p>
                            <div class="price__column-content">
                                <p>603 200</p>
                                <p>603 200</p>
                                <p>603 200</p>
                                <p>603 200</p>
                                <p>603 200</p>
                                <p>603 200</p>
                            </div>
                        </div>
                        <div class="price__footer">
                            <p>Итого</p>
                            <div class="price__footer-content">
                                <p>8 769 100</p>
                                <p>9 935 700</p>
                                <p>11 099 400</p>
                                <p>12 280 500</p>
                                <p>13 435 500</p>
                                <p>14 553 300</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs__panel">
                    <div class="tabs__panel-content">
                        <div class="price__header">
                            <p>Виды работ</p>
                            <div class="price__header-content">
                                <p>Длина, м / с шагом колон бм (высота в чистоте 5м)</p>
                                <p>30</p>
                                <p>35</p>
                                <p>40</p>
                                <p>45</p>
                                <p>50</p>
                                <p>55</p>
                            </div>
                        </div>
                        <div class="price__column">
                            <p>Несущий каркас</p>
                            <div class="price__column-content">
                                <p>2 190 700</p>
                                <p>2 190 700</p>
                                <p>2 190 700</p>
                                <p>2 190 700</p>
                                <p>2 190 700</p>
                                <p>2 190 700</p>
                            </div>
                        </div>
                        <div class="price__column">
                            <p>Комплект сэндвич-панелей</p>
                            <div class="price__column-content">
                                <p>2 964 400</p>
                                <p>2 964 400</p>
                                <p>2 964 400</p>
                                <p>2 964 400</p>
                                <p>2 964 400</p>
                                <p>2 964 400</p>
                            </div>
                        </div>
                        <div class="price__column">
                            <p>Устройство фундамента и Ж/Б цоколя</p>
                            <div class="price__column-content">
                                <p>1 497 900</p>
                                <p>1 497 900</p>
                                <p>1 497 900</p>
                                <p>1 497 900</p>
                                <p>1 497 900</p>
                                <p>1 497 900</p>
                            </div>
                        </div>
                        <div class="price__column">
                            <p>Устройство железобетонной плиты 120мм</p>
                            <div class="price__column-content">
                                <p>1 104 700</p>
                                <p>1 104 700</p>
                                <p>1 104 700</p>
                                <p>1 104 700</p>
                                <p>1 104 700</p>
                                <p>1 104 700</p>
                            </div>
                        </div>
                        <div class="price__column">
                            <p>Монтаж несущего каркаса здания</p>
                            <div class="price__column-content">
                                <p>408 200</p>
                                <p>408 200</p>
                                <p>408 200</p>
                                <p>408 200</p>
                                <p>408 200</p>
                                <p>408 200</p>
                            </div>
                        </div>
                        <div class="price__column">
                            <p>Монтаж сэндвич-панелей</p>
                            <div class="price__column-content">
                                <p>603 200</p>
                                <p>603 200</p>
                                <p>603 200</p>
                                <p>603 200</p>
                                <p>603 200</p>
                                <p>603 200</p>
                            </div>
                        </div>
                        <div class="price__footer">
                            <p>Итого</p>
                            <div class="price__footer-content">
                                <p>8 769 100</p>
                                <p>9 935 700</p>
                                <p>11 099 400</p>
                                <p>12 280 500</p>
                                <p>13 435 500</p>
                                <p>14 553 300</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs__panel">
                    <div class="tabs__panel-content">
                        <div class="price__header">
                            <p>Виды работ</p>
                            <div class="price__header-content">
                                <p>Длина, м / с шагом колон бм (высота в чистоте 5м)</p>
                                <p>30</p>
                                <p>35</p>
                                <p>40</p>
                                <p>45</p>
                                <p>50</p>
                                <p>55</p>
                            </div>
                        </div>
                        <div class="price__column">
                            <p>Несущий каркас</p>
                            <div class="price__column-content">
                                <p>2 190 700</p>
                                <p>2 190 700</p>
                                <p>2 190 700</p>
                                <p>2 190 700</p>
                                <p>2 190 700</p>
                                <p>2 190 700</p>
                            </div>
                        </div>
                        <div class="price__column">
                            <p>Комплект сэндвич-панелей</p>
                            <div class="price__column-content">
                                <p>2 964 400</p>
                                <p>2 964 400</p>
                                <p>2 964 400</p>
                                <p>2 964 400</p>
                                <p>2 964 400</p>
                                <p>2 964 400</p>
                            </div>
                        </div>
                        <div class="price__column">
                            <p>Устройство фундамента и Ж/Б цоколя</p>
                            <div class="price__column-content">
                                <p>1 497 900</p>
                                <p>1 497 900</p>
                                <p>1 497 900</p>
                                <p>1 497 900</p>
                                <p>1 497 900</p>
                                <p>1 497 900</p>
                            </div>
                        </div>
                        <div class="price__column">
                            <p>Устройство железобетонной плиты 120мм</p>
                            <div class="price__column-content">
                                <p>1 104 700</p>
                                <p>1 104 700</p>
                                <p>1 104 700</p>
                                <p>1 104 700</p>
                                <p>1 104 700</p>
                                <p>1 104 700</p>
                            </div>
                        </div>
                        <div class="price__column">
                            <p>Монтаж несущего каркаса здания</p>
                            <div class="price__column-content">
                                <p>408 200</p>
                                <p>408 200</p>
                                <p>408 200</p>
                                <p>408 200</p>
                                <p>408 200</p>
                                <p>408 200</p>
                            </div>
                        </div>
                        <div class="price__column">
                            <p>Монтаж сэндвич-панелей</p>
                            <div class="price__column-content">
                                <p>603 200</p>
                                <p>603 200</p>
                                <p>603 200</p>
                                <p>603 200</p>
                                <p>603 200</p>
                                <p>603 200</p>
                            </div>
                        </div>
                        <div class="price__footer">
                            <p>Итого</p>
                            <div class="price__footer-content">
                                <p>8 769 100</p>
                                <p>9 935 700</p>
                                <p>11 099 400</p>
                                <p>12 280 500</p>
                                <p>13 435 500</p>
                                <p>14 553 300</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs__panel">
                    <div class="tabs__panel-content">
                        <div class="price__header">
                            <p>Виды работ</p>
                            <div class="price__header-content">
                                <p>Длина, м / с шагом колон бм (высота в чистоте 5м)</p>
                                <p>30</p>
                                <p>35</p>
                                <p>40</p>
                                <p>45</p>
                                <p>50</p>
                                <p>55</p>
                            </div>
                        </div>
                        <div class="price__column">
                            <p>Несущий каркас</p>
                            <div class="price__column-content">
                                <p>2 190 700</p>
                                <p>2 190 700</p>
                                <p>2 190 700</p>
                                <p>2 190 700</p>
                                <p>2 190 700</p>
                                <p>2 190 700</p>
                            </div>
                        </div>
                        <div class="price__column">
                            <p>Комплект сэндвич-панелей</p>
                            <div class="price__column-content">
                                <p>2 964 400</p>
                                <p>2 964 400</p>
                                <p>2 964 400</p>
                                <p>2 964 400</p>
                                <p>2 964 400</p>
                                <p>2 964 400</p>
                            </div>
                        </div>
                        <div class="price__column">
                            <p>Устройство фундамента и Ж/Б цоколя</p>
                            <div class="price__column-content">
                                <p>1 497 900</p>
                                <p>1 497 900</p>
                                <p>1 497 900</p>
                                <p>1 497 900</p>
                                <p>1 497 900</p>
                                <p>1 497 900</p>
                            </div>
                        </div>
                        <div class="price__column">
                            <p>Устройство железобетонной плиты 120мм</p>
                            <div class="price__column-content">
                                <p>1 104 700</p>
                                <p>1 104 700</p>
                                <p>1 104 700</p>
                                <p>1 104 700</p>
                                <p>1 104 700</p>
                                <p>1 104 700</p>
                            </div>
                        </div>
                        <div class="price__column">
                            <p>Монтаж несущего каркаса здания</p>
                            <div class="price__column-content">
                                <p>408 200</p>
                                <p>408 200</p>
                                <p>408 200</p>
                                <p>408 200</p>
                                <p>408 200</p>
                                <p>408 200</p>
                            </div>
                        </div>
                        <div class="price__column">
                            <p>Монтаж сэндвич-панелей</p>
                            <div class="price__column-content">
                                <p>603 200</p>
                                <p>603 200</p>
                                <p>603 200</p>
                                <p>603 200</p>
                                <p>603 200</p>
                                <p>603 200</p>
                            </div>
                        </div>
                        <div class="price__footer">
                            <p>Итого</p>
                            <div class="price__footer-content">
                                <p>8 769 100</p>
                                <p>9 935 700</p>
                                <p>11 099 400</p>
                                <p>12 280 500</p>
                                <p>13 435 500</p>
                                <p>14 553 300</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>