<div class="question">
    <div class="container">
        <div class="question__container">
            <div class="question__left">
                <p class="question__title"><strong>Остались вопросы?</strong>
                    <span>Заполните форму заявки и мы ответим вам в ближайшее время или проконсультируем по интересующему вас вопросу</span>
                </p>
                <div class="question__contacts">
                    <p>
                        <a href="tel:88002103080" class="phone">8 800 210-30-80</a>
                        <span class="font14o">Позвоните нам на горячую линию</span>
                    </p>
                    <p>
                        <a href="mailto:infobild@gmail.com" class="phone">infobild@gmail.com</a>
                        <span class="font14o">Напишите нам на почту</span>
                    </p>
                </div>
                <p class="question__requisites">
                    <a href="#" class="button-without-border"><span>Реквизиты компании</span></a>
                </p>
                <p class="question__bottom">Отправляя запрос Вы соглашаетесь на обработку персональных данных</p>
            </div>
            <form class="question__right">
                <div class="form__placeholder-container form__placeholder-container--js">
                    <input class="form__input--js" type="text" name="name" placeholder=" " required="required" id="name"/>
                    <label for="name">Ваше имя</label><span class="input__error name-error"></span>
                </div>
                <div>
                    <div class="form__placeholder-container form__placeholder-container--js">
                        <input class="form__input--js phone-mask--js" type="text" name="phone" placeholder=" " required="required" id="phone"/>
                        <label for="phone">Номер телефона</label><span class="input__error name-error"></span>
                    </div>
                    <p>Пожалуйста укажите корректно</p>
                </div>
                <div class="form__placeholder-container form__placeholder-container--js">
                    <input class="form__input--js" type="text" name="comment" placeholder=" " id="comment"/>
                    <label for="comment">Комментарий</label><span class="input__error name-error"></span>
                </div>

                <div class="example-1">
                    <div class="form-group">
                        <label class="label">
                            <img src="/img/file.svg" alt="Иконка">
                            <span class="title input__file-button-text" >Загрузить файл</span>
                            <input type="file" id="input__file" class="input__file"/>
                        </label>
                    </div>
                </div>

                <input type="submit" class="big-button" value="Отправить заявку">
                <p class="question__bottom">Отправляя запрос Вы соглашаетесь на обработку персональных данных</p>
            </form>
            
        </div>
    </div>
</div>