<div class="selects">
    <div class="container">
        <h3 class="h3">Нас выбирают за передовые решения 
            с использованием металла</h3>
        <ul class="selects__list">
            <li>
                <p>
                    <img src="/img/icon1.svg" alt="Иконка">
                    <strong>Надежность</strong>
                    <span>выбирают за долговечные решения за надежность исполнения</span>
                </p>
            </li>
            <li>
                <p>
                    <img src="/img/icon2.svg" alt="Иконка">
                    <strong>Большой опыт</strong>
                    <span>мы работаем с быстровозводимыми объектами более чем 20 лет</span>
                </p>
            </li>
            <li>
                <p>
                    <img src="/img/icon3.svg" alt="Иконка">
                    <strong>Всегда в срок</strong>
                    <span>все наши объекты сдают в оговоренный срок</span>
                </p>
            </li>
        </ul>
    </div>
</div>