<div class="seo-block">
    <p><strong>Массовка на съемках телепрограмм в Москве — быстрая подработка и возможность интересно провести время, побывать на таких интересных площадках, как: Телецентр Останкино, Киноконцерн «Мосфильм», Главкино!</strong></p>
    <p>Приглашаем зрителей в массовку на различные оплачиваемые съемки. Съемки каждый день. Оплата от 600 до 1500 рублей в зависимости от длительности программы сразу же после съемки. Звоните, чтобы узнать вакансии и расписание съемок на ближайшие дни.</p>
    <div class="pink">
        <p><img src="img/tower.svg" alt="Башня"><strong>Мы работаем только в Москве</strong></p>
        <p>В мире моды и киноиндустрии существует распространенное заблуждение, что для участия в съемках необходимо иметь специальные карты, бейджи или платное портфолио</p>
    </div>
</div>