<section class="shedule">
    <div class="container" >
        <h2 class="title">Расписание ближайших съемок</h2>
        <ul class="shedule__list">
            <li style="background:#F3F4F6;">
                <h3><strong>Кастинг</strong></h3>
                <ul>
                    <li>
                        <a href="#">
                            <div class="shedule__new">новое</div>
                            <p class="shedule__date">12 октября</p>
                            <p class="shedule__text">Красивые женщины 20-45 лет. О самом главном. Белорусская.</p>
                            <p class="shedule__salary">2 500р.</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p class="shedule__date">13 октября</p>
                            <p class="shedule__text">Герои на программу «О самом главном».</p>
                            <p class="shedule__salary">5 000р.</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p class="shedule__date">12 октября</p>
                            <p class="shedule__text">Красивые женщины 20-45 лет. О самом главном. Белорусская.</p>
                            <p class="shedule__salary">2 500р.</p>
                        </a>    
                    </li>
                </ul>
                <a href="#" class="btn _gray">Показать еще больше</a>
            </li>
            <li style="background: #F0F3EC;">
                <h3><strong>Съемки сегодня</strong><span style="color: #839F5F;">8 октября</span></h3>
                <ul>
                    <li>
                        <a href="#">
                            <div class="shedule__edited">изменения</div>
                            <p class="shedule__date">8 октября к 14.30.</p>
                            <p class="shedule__text">Муз. телешоу «Конфетка». м. ул. 1905 года. 16-50 л. </p>
                            <p class="shedule__salary">1 100р.</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="shedule__edited">изменения</div>
                            <p class="shedule__date">8 октября к 14.30. </p>
                            <p class="shedule__text">Муз. телешоу «Конфетка». м. ул. 1905 года. 16-50 л. </p>
                            <p class="shedule__salary">1 100р.</p>
                        </a>    
                    </li>
                </ul>
                <a href="#" class="btn _gray">Показать еще больше</a>
            </li>
            <li style="background: #EDE8F0;">
                <h3><strong>Съемки завтра</strong><span style="color: #87689A;">9 октября</span></h3>
                <ul>
                    <li>
                        <a href="#">
                            <p class="shedule__date">9 октября</p>
                            <p class="shedule__text">9 октября. Герои на программу «О самом главном». </p>
                            <p class="shedule__salary">6 000р.</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="shedule__edited">изменения</div>
                            <p class="shedule__date">9 октября к 7.00</p>
                            <p class="shedule__text">О самом главном. Белорусская</p>
                            <p class="shedule__salary">1 600р.</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p class="shedule__date">9 октября </p>
                            <p class="shedule__text">9 октября. Герои на программу «О самом главном». </p>
                            <p class="shedule__salary">6 000р.</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="shedule__edited">изменения</div>
                            <p class="shedule__date">9 октября к 7.00</p>
                            <p class="shedule__text">О самом главном. Белорусская</p>
                            <p class="shedule__salary">1 600р.</p>
                        </a>
                    </li>
                </ul>
                <a href="#" class="btn _fiolet">Показать еще больше</a>
            </li>
        </ul>
    </div>
</section>