<div class="stage">
    <div class="container">
        <div class="stage__title">
            <h3 class="h3">3 основных этапа строительства быстровозводимого здания</h3>
            <p>Оказываем полный комплекс услуг: от проектирования 
                до возведения здания под ключ</p>
        </div>
        <ul>
            <li>
                <p>Расчет 
                    и проектирование</p>
                <span>Мы спроектируем для вас индивидуальное быстровозводимое здание с учетом местных строительных норм на глобальных рынках.</span>
            </li>
            <li>
                <p>Производство
                    материалов</p>
                <span>роизведем все материалы: металлоконструкции и сэндвич панели.</span>
            </li>
            <li>
                <p>Монтажные
                    работы</p>
                <span>Мы смонтируем и проведем все земельные и фундаментные работы силами местных подрядчиков по месту строительства.</span>
            </li>
        </ul>
        
    </div>
</div>