<section class="takepart">
    <div class="container" >
        <div class="takepart-shedule">
            <ul>
                <li>
                    <p>Съемки сегодня<i></i><strong>8 октября</strong></p>
                    <ul>
                        <li>
                            <a href="#">
                                <p class="label _orange">новое</p>
                                <p>8 октября
                                    <span>Герои на программу «О самом главном».</span>
                                </p>
                                <p>
                                    <strong>6 000р.</strong>
                                    <span>Подробнее</span>
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="label _gray">изменения</p>
                                <p>8 октября
                                    <span>Муз. телешоу «Конфетка». м. ул. 1905 года. 16-50 л. </span>
                                </p>
                                <p>
                                    <strong>1 100р.</strong>
                                    <span>Подробнее</span>
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>8 октября
                                    <span>Красивые женщины 20-45 лет. О самом главном. Белорусская.</span>
                                </p>
                                <p>
                                    <strong>2 500р.</strong>
                                    <span>Подробнее</span>
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="label _orange">новое</p>
                                <p>8 октября
                                    <span>Герои на программу «О самом главном».</span>
                                </p>
                                <p>
                                    <strong>2 500р.</strong>
                                    <span>Подробнее</span>
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="label _gray">изменения</p>
                                <p>8 октября
                                    <span>Муз. телешоу «Конфетка». м. ул. 1905 года. 16-50 л. </span>
                                </p>
                                <p>
                                    <strong>1 100р.</strong>
                                    <span>Подробнее</span>
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>8 октября
                                    <span>Красивые женщины 20-45 лет. О самом главном. Белорусская.</span>
                                </p>
                                <p>
                                    <strong>2 500р.</strong>
                                    <span>Подробнее</span>
                                </p>
                            </a>
                        </li>
                    </ul>
                    <button>Показать еще больше</button>
                </li>
                <li>
                    <p>Съемки<strong>9 октября</strong></p>
                    <ul>
                        <li>
                            <a href="#">
                                <p class="label _orange">новое</p>
                                <p>9 октября
                                    <span>Герои на программу «О самом главном».</span>
                                </p>
                                <p>
                                    <strong>6 000р.</strong>
                                    <span>Подробнее</span>
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="label _gray">изменения</p>
                                <p>9 октября
                                    <span>Муз. телешоу «Конфетка». м. ул. 1905 года. 16-50 л. </span>
                                </p>
                                <p>
                                    <strong>1 100р.</strong>
                                    <span>Подробнее</span>
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>9 октября
                                    <span>Красивые женщины 20-45 лет. О самом главном. Белорусская.</span>
                                </p>
                                <p>
                                    <strong>2 500р.</strong>
                                    <span>Подробнее</span>
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="label _orange">новое</p>
                                <p>9 октября
                                    <span>Герои на программу «О самом главном».</span>
                                </p>
                                <p>
                                    <strong>2 500р.</strong>
                                    <span>Подробнее</span>
                                </p>
                            </a>
                        </li>
                    </ul>
                    <button>Показать еще больше</button>
                </li>
                <li>
                    <p>Съемки<strong>10 октября</strong></p>
                    <ul>
                        <li>
                            <a href="#">
                                <p class="label _orange">новое</p>
                                <p>10 октября
                                    <span>Герои на программу «О самом главном».</span>
                                </p>
                                <p>
                                    <strong>6 000р.</strong>
                                    <span>Подробнее</span>
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="label _gray">изменения</p>
                                <p>10 октября
                                    <span>Муз. телешоу «Конфетка». м. ул. 1905 года. 16-50 л. </span>
                                </p>
                                <p>
                                    <strong>1 100р.</strong>
                                    <span>Подробнее</span>
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>10 октября
                                    <span>Красивые женщины 20-45 лет. О самом главном. Белорусская.</span>
                                </p>
                                <p>
                                    <strong>2 500р.</strong>
                                    <span>Подробнее</span>
                                </p>
                            </a>
                        </li>
                    </ul>
                    <button>Показать еще больше</button>
                </li>
                <li>
                    <p>Съемки<strong>11 октября</strong></p>
                    <ul>
                        <li>
                            <a href="#">
                                <p class="label _orange">новое</p>
                                <p>11 октября
                                    <span>Герои на программу «О самом главном».</span>
                                </p>
                                <p>
                                    <strong>6 000р.</strong>
                                    <span>Подробнее</span>
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="label _gray">изменения</p>
                                <p>11 октября
                                    <span>Муз. телешоу «Конфетка». м. ул. 1905 года. 16-50 л. </span>
                                </p>
                                <p>
                                    <strong>1 100р.</strong>
                                    <span>Подробнее</span>
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>11 октября
                                    <span>Красивые женщины 20-45 лет. О самом главном. Белорусская.</span>
                                </p>
                                <p>
                                    <strong>2 500р.</strong>
                                    <span>Подробнее</span>
                                </p>
                            </a>
                        </li>
                    </ul>
                    <button>Показать еще больше</button>
                </li>
            </ul>
        </div>
        
        <div class="takepart__content">
            <div>
                <p>Агентство «Телепропуск» занимается профессиональным подбором актеров массовых сцен для участия в съемках телепередач.
                    <span>Ежедневно мы приглашаем зрителей массовки на съемки телепрограмм: игры, яркие танцевальные шоу, общественно-политические программы. У нас каждый сможет найти, что ему интересно. Съемки проходят в различных студиях таких телеканалов, как: Первый, Россия 2, НТВ, ТВ Центр и многие другие.</span>
                </p>
            </div>
            <ul>
                <li>
                    <img src="img/first.svg" alt="Первый">
                </li>
                <li>
                    <img src="img/ntv.svg" alt="НТВ">
                </li>
                <li>
                    <img src="img/centr.svg" alt="Центр">
                </li>
                <li>
                    <img src="img/vgtrk.svg" alt="ВГТРК">
                </li>
            </ul>
        </div>
    </div>

</section>