<section class="takepart">
    <div class="container" >

        <h2 class="title">Принимайте участие</h2>
        <ul class="takepart__list">
            <li style="--bg-1: url(/img/person1.svg);">
                <h3>Рекламные акции</h3>
                <ul>
                    <li>Реконструкции</li>
                    <li>Рекламные ролики</li>
                    <li>Сюжеты</li>
                    <li>Ролики в кино</li> 
                    <li>Клипы</li>
                </ul>
            </li>
            <li style="--bg-1: url(/img/person2.svg);">
                <h3>Массовка</h3>
                <ul>
                    <li>Зрители в зрительный зал на телепередачи</li>
                    <li>Кастинг</li>
                    <li>Концерты</li>
                    <li>На съемку ток-шоу</li>
                </ul>
            </li>
            <li style="--bg-1: url(/img/person3.svg);">
                <h3>Промо акции</h3>
                <ul>
                    <li>Флэшмобы</li>
                    <li>Массовые мероприятия и др.</li>
                </ul>
            </li>
        </ul>
        <div class="takepart__content">
            <div>
                <p>Агентство «Телепропуск» занимается профессиональным подбором актеров массовых сцен для участия в съемках телепередач.
                    <span>Ежедневно мы приглашаем зрителей массовки на съемки телепрограмм: игры, яркие танцевальные шоу, общественно-политические программы. У нас каждый сможет найти, что ему интересно. Съемки проходят в различных студиях таких телеканалов, как: Первый, Россия 2, НТВ, ТВ Центр и многие другие.</span>
                </p>
            </div>
            <ul>
                <li>
                    <img src="img/first.svg" alt="Первый">
                </li>
                <li>
                    <img src="img/ntv.svg" alt="НТВ">
                </li>
                <li>
                    <img src="img/centr.svg" alt="Центр">
                </li>
                <li>
                    <img src="img/vgtrk.svg" alt="ВГТРК">
                </li>
            </ul>
        </div>
    </div>

</section>