<div class="underheader">
    <div class="container">
        <ul>
            <li>
                <img src="img/d1.svg" alt="">
                <span>Собственное 
                производство</span></li>
            <li>
                <img src="img/d2.svg" alt="">
                <span>
                    Бесплатная
загрузка
                </span>
            </li>
            <li>
                <img src="img/d3.svg" alt=""><span>Доставка 
                и выгрузка</span></li>
            <li><img src="img/d4.svg" alt=""><span>Лизинг 
                до&nbsp;5&nbsp;лет</span></li>
            <li><img src="img/d5.svg" alt=""><span>Гарантия 
                25&nbsp;лет</span></li>
            <li><img src="img/d6.svg" alt=""><span>Расчет стоимости 
                за&nbsp;24&nbsp;часа</span></li>
        </ul>
    </div>
</div>