<div class="video">
    <div class="container">
        <h3 class="h3">
            Видео 
            <img src="/img/play_.svg" alt="Иконка">
            с наших объектов
        </h3>
        <div class="video__container swiper-video-js">
            <div class="swiper-wrapper">
                <a href="#" class="swiper-slide">

                    <img src="/img/video1.jpg" alt="Фото">
                    <div class="content">
                        <p>Строительство<br>
                            ангара автомойки
                        <span>видео презентация объекта</span></p>
                    </div>
                </a>
                <a href="#" class="swiper-slide">
                    <img src="/img/video2.jpg" alt="Фото">
                    <div class="content">
                        <p>Строительство<br>
                            и промышленные здания
                        <span>видео презентация объекта</span></p>
                    </div>
                </a>
                <a href="#" class="swiper-slide">
                    <img src="/img/video3.jpg" alt="Фото">
                    <div class="content">
                        <p>Строительство
                            магазина торгового центра
                        <span>видео презентация объекта</span></p>
                    </div>
                </a>
                <a href="#" class="swiper-slide">
                    <img src="/img/video3.jpg" alt="Фото">
                    <div class="content">
                        <p>Строительство
                            магазина торгового центра
                        <span>видео презентация объекта</span></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>