// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Onest", sans-serif;
  --content-width: 1280px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --orange-color: #F36600;
  --alert-color: #F0F1CC;
  --fiolet-color: #36195A;
  --gray-color: #38383F;
  --hover: #C59E15;
  --ss: #DDE2E9;
  --s: #838694;
  --g: #C59E15;
}
