// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;500;600&display=swap');

// подключения компонентов страницы
@import "./components/header";
@import "./components/footer";

p {
  margin: unset;
}
// тестовые стили, удалите их
.page__body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--vh);
}
.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
.logo {
  width: 157px;
  height: 42px;
  display: flex;
  grid-area: logo;
  align-self: center;
  @media (min-width: 768px) {
    width: 16.52vw;
    height: 4.37vw;
  }
  @media (min-width: 1240px) {
    width: 238px;
    height: 63px;
  }
}
.main {
  z-index: 20;
  position: relative;   
  @media (min-width: 1240px) {
    // z-index: 11;
    // position: relative;   
  }
}



.form__placeholder-container {
  position: relative;
  width: 100%;
}

.form__placeholder-container input, 
.form__placeholder-container textarea {
  // border: none;
  border-radius: 10px;
  border: 1px solid #D6D8DF;
  background: #FFF;
  box-sizing: border-box;
  outline: none;
  width: 100%;

  color: #000;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;



  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  min-height: 50px;
}
@media (min-width: 576px) {
  .form__placeholder-container input, 
  .form__placeholder-container textarea {
    padding-left: 25px;
    padding-right: 25px;
    min-height: 60px;
  }
}

.form__placeholder-container label {
  width: fit-content;
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; 
  
  pointer-events: none;
  position: absolute;
  transition: all 200ms;
  top: 14px;
  left: 15px;
}
@media (min-width: 576px) {
  .form__placeholder-container label {
    top: 19px;
    left: 25px;
  }

}
.wpcf7-spinner {display: none;}
.form__placeholder-container label span {
  font-size: 0.75rem;
  color: #A4A4A4;
}

.form__placeholder-container input:focus + label,
.form__placeholder-container input:not(:placeholder-shown) + label {
  top: -20px;
  left: 0;

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.14px;
}
.form__placeholder-container:not(._black) input:focus + label,
.form__placeholder-container:not(._black) input:not(:placeholder-shown) + label {
  color: #FFF;
}

.form__placeholder-container._black input:focus + label,
.form__placeholder-container._black input:not(:placeholder-shown) + label {
  color: #000;
}


.form__placeholder-container textarea:focus + label,
.form__placeholder-container textarea:not(:placeholder-shown) + label {
  top: -20px;
  left: 0;
}

.form__checkbox {
  height: fit-content;
  position: relative;
}
.form__checkbox label {
  cursor: pointer;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 110%;
  color: #9FA2A7;
  position: relative;
  padding-left: 33px;
  z-index: 2;
}
.form__checkbox label a {
  color: #6f42c1;
  transition: 0.4s;
}
.form__checkbox label a:hover {
  text-decoration: underline;
}
.form__checkbox label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: -1px;
  border: 1px solid #9FA2A7;
  border-radius: 4px;
  transition: 0.4s ease-in;
}
.form__checkbox label::after {
  content: "";
  position: absolute;
  width: 8px;
  left: -2px;
  transform: rotate(90deg);
  top: 1px;
  height: 5px;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: 0.2s ease-in;
  z-index: -1;
}
.form__checkbox input {
  display: none;
}
.form__checkbox input:checked ~ label::after {
  transform: rotate(-45deg);
  left: 6px;
  top: 5px;
  z-index: 1;
  border-left: 2px solid #9FA2A7;
  border-bottom: 2px solid #9FA2A7;
}

.burger {
  display: block;
  width: 33px;
  height: 33px;
  position: relative;
  background: transparent;
  border: unset;
  &::after, &::before {
    content: '';
    position: absolute;
    left: 0;
    height: 1.8px;
    background: black;
  }
  &::after {
    width: 24px;
    top: 10px;
  }
  &::before {
    width: 100%;
    bottom: 10px;
  }
  @media (min-width: 768px) {
    display: none;
  }
}